@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.navbar {
  padding: 20px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 50px;

    color: white;
  }
  background-color: black;
  width: 100%;
  a {
    text-decoration: none;
  }
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 95%;
  width: 40%;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
p {
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 10rem;
  font-size: 2rem;
}
button {
  margin-left: 45%;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 15rem;
  text-decoration: none;
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      list-style: none;
      display: inline;
      margin-right: 15px;

      color: white;
    }
    background-color: black;
    width: 100%;
  }
  p {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 2rem;
  }
  button {
    margin-left: 18rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 15rem;
    text-decoration: none;
  }
  h1 {
    font-size: 3%;
  }
}
