@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 4rem;
}

body {
  background-color: rgb(187, 181, 181);
}
img {
  width: 30rem;
  margin-top: 3rem;
  margin-left: 36rem;
  margin-bottom: 2rem;
}

.btn {
  margin-left: 45rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 10rem;
}

.input-group {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

h2 {
  margin-left: 5rem;
}

.navbar {
  padding: 30px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 50px;

    color: white;
  }
  background-color: black;
  width: 100%;
  a {
    text-decoration: none;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  img {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 13rem;
    margin-bottom: 2rem;
  }
  .btn {
    margin-left: 20rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .navbar {
    padding: 5px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      list-style: none;
      display: inline;
      margin-right: 10px;

      color: white;
    }
    background-color: black;
    width: 100%;
    a {
      text-decoration: none;
    }
  }
  .input-group {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }
  h2 {
    margin-left: 5rem;
  }
}
// @media screen and (max-width: 1120px) {
//   .row {
//     img {
//       width: 20rem;
//     }
//   }
// }
