@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

h1 {
  text-align: center;
  padding-top: 25px;
}

.navbar {
  padding: 20px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 50px;

    color: white;
  }
  background-color: black;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.container {
  p {
    margin-left: 100px;
    padding-right: 300px;
    font-family: sans-serif;
    padding-top: 25px;
    font-size: 25px;
  }
  img {
    padding-top: 50px;
    margin-left: 250px;
    width: 50rem;
  }
}

.text {
  h2 {
    padding-top: 50px;
  }
  margin-bottom: 50px;
}

button {
  margin-left: 700px;
  margin-bottom: 100px;
  a {
    text-decoration: none;
  }
}
