@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 8rem;
}

body {
  background-color: rgb(187, 181, 181);
}

.navbar {
  padding: 20px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 50px;

    color: white;
  }
  background-color: black;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  img {
    padding-top: 40px;
    margin-left: 10rem;
    width: 25rem;
  }
}

.col {
  flex: 50%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 1rem;
      margin-left: 3rem;
    }
  }
  .navbar {
    padding: 1px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      list-style: none;
      display: inline;
      margin-right: 10px;

      color: white;
    }
    background-color: black;
    width: 100%;
    a {
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 1120px) {
  .row {
    img {
      width: 20rem;
    }
  }
}
