@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.navbar {
  padding: 20px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 50px;

    color: white;
  }
  background-color: black;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.card {
  height: 35rem;
  background-color: rgb(195, 188, 188);
  margin-left: 38%;
  a {
    margin-top: 15px;
    margin-left: 15%;
  }
}

.card-text {
  padding-top: 15px;
  font-size: 1rem;
  margin: 4px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 5rem;
  }
  .card {
    a {
    }
    height: 35rem;
    margin-bottom: 5rem;
    background-color: rgb(195, 188, 188);
  }
  .navbar {
    padding: 10px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      list-style: none;
      display: inline;
      margin-right: 10px;

      color: white;
    }
  }
  footer {
    background-color: black;
    padding: 3rem;
  }
}
